@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 9vh;
    display: flex;
    justify-content: space-between;
}

nav ul li a:hover {
    color: #f39016;
}

nav ul li {
    list-style: none;
    padding: 0 1.5vw;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-size: large;
}

.logo img {
    width: 8vw;
    padding: 0.5vh 2vw;
}

nav ul {
    height: 9vh;
    display: flex;
    align-items: center;
    padding: 0 9vw;

}

main {
    height: calc(100vh - 9vh);
    background-image: url("/static/images/Dash_BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms {
    color: white;
    width: 40vw;
    height: 60vh;
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    gap: 5vh;
    background-color: #f39016b0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form #uni-id{
    height: 4vh;
    width: 20vw;
    border: 1px solid black;
    border-radius: 5px;

}

.form #amount {
    height: 4vh;
    width: 16vw;
    border: 1px solid black;
    border-radius: 5px;
}

.form label {
    padding-right: 2vw;
}

.form select {
    height: 4vh;
    width: 10vw;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.form select option {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-size: 15px;
}

.form input {
    padding-left: 0.5vw;
}


input[type="radio"] {
    width: 2.5vw;
    height: 2.5vh;
    accent-color: #388e3c;
    cursor: pointer;
}

button {
    padding: 1vh 1.5vw;
    border: none;
    border-radius: 4px;
    background: white;
    color: black;
    font-family: "Barlow Condensed", serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 13.5vw;
}


button:hover {
    background: #388e3c;
}

footer {
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
}