@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 9vh;
    display: flex;
    justify-content: space-between;
}

nav ul li a:hover {
    color: #f39016;
}

nav ul li {
    list-style: none;
    padding: 0 1.5vw;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-size: large;
}

.logo img {
    width: 8vw;
    padding: 0.5vh 2vw;
}

nav ul {
    height: 9vh;
    display: flex;
    align-items: center;
    padding: 0 9vw;

}

main {
    height: calc(100vh - 9vh);
    background-image: url("/static/images/Home_BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes width {
    from {
        width: 0vw;
        opacity: 0;
    }

    to {
        width: 40vw;
        opacity: 1;
    }

}

@keyframes paraMove {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.box {
    height: 15vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.800);
    color: #f39016;
    font-size: 3vw;
    display: flex;
    align-items: center;
    position: relative;
    top: 30vh;
    font-family: "Barlow Condensed", serif;
    animation-name: width;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}

.box p {
    padding: 2vw;
    text-align: center;
    font-family: "Barlow Condensed", serif;
    animation: paraMove 1.5s forwards 1.5s;
    opacity: 0;
}

footer {
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
}