<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/registration.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/images/Logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-cont">
            <form method="POST" action="/register">
                {% if error %}
                    <div style="color: red;font-size: 20px; font-weight: bold; margin-bottom: 10px;">
                        {{ error }}
                    </div>
                {% endif %}            
            <div class="forms">

                <div class="form">
                    <label for="name">Name</label>
                    <input type="text" id="name" name = "name" placeholder="Enter Name" required>
                </div>
                <div class="form">
                    <label for="number">Phone Number</label>
                    <input type="tel" id="number" name = "phone" placeholder="Enter Phone Number" required>
                </div>
                <div class="form">
                    <label for="gender">Gender</label>
                    <select id="gender" name = "gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <p>Select Plan</p >
                <div class="form-plan">
                    <input type="radio" id="plan1" name="plan" value="1month" name="Subscription" required>
                    <label for="plan1">1 month</label>

                    <input type="radio" id="plan3" name="plan" value="3months" name="Subscription">
                    <label for="plan3">3 months</label>

                    <input type="radio" id="plan6" name="plan" value="6months" name="Subscription">
                    <label for="plan6">6 months</label>

                    <input type="radio" id="plan1y" name="plan" value="1year" name="Subscription">
                    <label for="plan1y">1 year</label>
                    
                </div>
                <div class="form">
                    <label for="amount">Amount Paid</label>
                    <input type="number" id="amount" name="amount_paid" placeholder="Enter Amount" required>
                </div>
                <div class="form">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </div>
        </form>
        </div>
        
    </main>
    <footer>
        <p>Copy Rights &copy; GS Fitness Center | All Rights Reserved</p>
    </footer>
</body>

</html>